@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: yekan;
  src: url("/fonts/YekanBakh/fonts/woff/YekanBakh-Regular.woff");
}

/* @font-face {
  font-family: yekan-bold-Bold;
  src: url("/fonts/shabnam/Shabnam-Bold.woff");
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:yekan ;
}

.primary-color {
  color: #FA5A2A;
}
.gray-color{
  color: #383A40;
}
